<nav class = "navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <span class="badge badge-secondary"><a class = "navbar-brand" href = "#" style="margin-left:15px; "><img src="../../assets/images/logo1.jpg" height="30px" width="30px">&nbsp;Staem</a></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="nav navbar-nav">
            <li class="nav-item" style="padding:0 15px;">
              <a class="nav-link" href="/home/#carousel-example">Home</a>
            </li>
            <li class="nav-item" style="padding:0 15px;">
              <a class="nav-link" href="/home/#bestsell">Best Seller</a>
            </li>
            <li class="nav-item" style="padding:0 15px;">
              <a class="nav-link" href="/home/#gametable">New & Trending</a>
            </li>       
          </ul>
        </div>

        
        <div id="log">
        <form action="../control/logincheck.php" method="post">
          <h3 >请登录</h3>
          <div class="form-group">
            <label for="username">用户名*</label>
            <span id="user" class="error"> </span>
            <input type="text" class="form-control" name="username"
                id="username" placeholder="用户名" onblur='checkName()' required />
          </div>
          <div class="form-group">
            <label for="password">密码*</label>
            <span id="psword" class="error"> </span>
            <input type="password" class="form-control"
                name="password"
                id="password" placeholder="密码" onblur='checkPassword()' required />
          </div>
          <div class="checkbox">
            <label>
              <span><input type="checkbox" value='true' style="width:15px;height:15px;" > 记住我</span>
            </label>
          </div>
          <input type="submit" class="btn btn-primary login-button" value="登录" style="width:70px;height:40px;" />
          <p class="text-success" ><a href="register.html">>>还没账号？去注册</a></p>
        </form>
        <div id="close" >
          <span onclick="document.getElementById('log').style.display='none'">关闭</span>
        </div>
        </div>
        

        <form class="form-inline nav-right"  id = "search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        &nbsp; &nbsp; &nbsp; 
        <img src="../../assets/images/notblackandwhite.jpeg" width="40px" height="40px" onmousemove="login(this)" id = "login">
      </nav>
