#log,#logged {
    /* display: none;  */
    width: 400px; 
    height: 500px; 
    padding: 30px 40px; 
    background-color: aliceblue; 
    position: fixed; top: 70px; right: 5px;
    opacity: 0.9;
 }
 #logged h2 {
	 text-align:center;
 }
 #login, #photo1 {
    border-radius: 50%;
    /* border: 3px inset #a1afc9; */
}
#photodiv {
	padding-left:100px;
}
#logged a, #logged button {
	margin-left:120px;
}
#photo1{
    border: 6px inset #a1afc9;
}
#photodiv :hover{
    /* border: 6px outset #a1afc9; */
    animation: whirl 2s linear 10000;
}
#icon :hover{
    position: relative;
    bottom: 5px;
}
#icon{
    margin: 15px;
}
#icons{
    box-shadow: 10px 10px 5px #888888;
    background-color: #d3e0f3;
}
:host >>> .popover>.popover-header{
   display: none;
  }
:host >>> .popover>.popover-body{
   padding:0 0 0 0;
}
:host >>> .popover>.arrow:after {
display: none;
}
/* #router{
    margin-left:auto;
    margin-right: auto;
    font-size: 20px;
} */

@keyframes whirl {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1000px) {
    #search{
        display: none;
    }
}