#log {
        display: none; 
        width: 400px; 
        height: 500px; 
        padding: 30px 40px; 
        background-color: #F3F5F6; 
        position: fixed; top: 70px;
        right: 30px;
 }
 #login {
    border-radius: 50%;
}