#log,#logged {
    /* display: none;  */
    width: 400px; 
    height: 500px; 
    padding: 30px 40px; 
    background-color: aliceblue; 
    position: fixed; top: 70px; right: 5px;
    opacity: 0.9;
 }
 #logged h2 {
	 text-align:center;
 }
 #logged a, #logged button {
	margin-left:120px;
}
#login{
    width:40px;
    height:40px;
    border-radius: 50%;
    /* border: 3px inset #a1afc9; */
}
#photodiv {
	padding-left:100px;
}
#photodiv img{
    border: 6px inset #a1afc9;
    width:120px;
    height:120px;
    border-radius: 50%;
}
#photodiv :hover{
    /* border: 6px outset #a1afc9; */
    animation: whirl 2s linear 10000;
}
#icons{
    box-shadow: 10px 10px 5px #888888;
    background-color: #d3e0f3;
}
#icon{
    margin: 15px;
    display:inline-block;
}
#icon :hover{
    position: relative;
    bottom: 5px;
}
:host >>> .popover>.popover-header{
   display: none;
  }
:host >>> .popover>.popover-body{
   padding:0 0 0 0;
}
:host >>> .popover>.arrow:after {
display: none;
}
.modal-content{
    background-color:whitesmoke;   
}
/* ,modal-body{
    
} */
.modal-footer{
    height: 50px;
    opacity: 0.8;
}
/* .modal-footer button{
    height: 30px;
} */

@keyframes whirl {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1000px) {
    #search{
        display: none;
    }
}