#log,#logged {
        display: none; 
        width: 400px; 
        height: 500px; 
        padding: 30px 40px; 
        background-color: #F3F5F6; 
        position: fixed; top: 70px;
        right: 30px;
 }
 #logged h2 {
	 text-align:center;
 }
 #login, #photo1 {
    border-radius: 50%;
}
#photodiv {
	padding-left:100px;
}
#logged a, #logged button {
	margin-left:120px;
}
a :link{
    color: black;
}
a :visited{
    color: black;
}
a :hover{
    color: aqua;
}


@media screen and (max-width: 1000px) {
    #search{
        display: none;
    }
}