.footer{
    background-color: #222222;
    padding: 15px;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
}   
.footer a {
    color: #999;
}
.footer a:hover{
    color:#fff;
}
.footer label {
	margin-left:40px;
	margin-right: 150px;
    color:#C0C0C0;
    background-color: #222222;
}
