.footer{
    background-color: #222222;
    padding: 15px;
    font-family: Georgia, "Times New Roman", serif;
    width: 80%;
    margin: auto;
}   
.footer a {
    color: #999;
}
.footer a:hover{
    color:#fff;
}
#copyright{
    text-align: center;
	margin-left:auto;
	/* margin-right: auto; */
    color:#C0C0C0;
    width: 80%;
}
#terms{
    text-align: center;
    /* text-align: justify;
    text-align-last: justify;
    text-justify: distribute-all-lines; */
}
#icons{
    text-align: center;
}

.copyright {
    text-align: center;
    color: #C0C0C0;
}

.term {
    color: #C0C0C0;
    text-align: center;
}
.icon {
    text-align: center;
}
