<div class="footer">
<i><small><label>Copyright &copy; 2019 Pandada</label>
  
    <a [routerLink]="['/copyright']">Copyright Information</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">Terms and Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="mailto:webmaster@starbucks.com">contact us by Email</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://teamtreehouse.com/library/add-social-media-links"><img width="30px" height="30px" src="../../assets/images/facebook.png" alt="facebook logo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://teamtreehouse.com/library/add-social-media-links"><img width="30px" height="30px" src="../../assets/images/twitter.png" alt="twitter logo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://teamtreehouse.com/library/add-social-media-links"><img width="30px" height="30px" src="../../assets/images/ins.jpg" alt="instgram logo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://teamtreehouse.com/library/add-social-media-links"><img width="30px" height="30px" src="../../assets/images/google.jpg" alt="google logo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://teamtreehouse.com/library/add-social-media-links"><img width="30px" height="30px" src="../../assets/images/youtube.jpg" alt="youtube logo"></a>
  </small></i>
</div>
