<br />
<br />
<br />
<div id="container">
  <h1>Pandada Copyright Statement</h1><br />
  <p>
  1. All content copyrighted as Pandada is owned by this site. If you need to quote or reprint, you only need to indicate the source and original link. If you need to reprint a large area, please write to us to obtain authorization.
  </p>
  <p>
  2. All the article information, game resources, material source and other content provided by this site are provided by third parties and organized by the Internet. They are for reference only. If there is any infringement of your copyright, please contact us. This site will be in three. Corrected within one working day.
  </p>
  <p>
  3. If your website or organization uses all the resources obtained from this site for commercial use, please contact the copyright owner if you need to negotiate with the site.
  </p>
  <p>
  4. This site does not guarantee the accuracy, security and completeness of the resources. Please confirm it during the process of reading, downloading and using. This site does not bear any loss of any kind caused by the above resources to you or your website. hurt
  </p>
  <p>
  5. Without Pandada permission, you must not steal or steal the resources of this site; you must not copy or copy this website, and you must not create images on servers other than Pandada, and all the content and technology that Panda develops on its own or jointly with others. Means and services have full intellectual property rights, and no one may infringe or destroy them or use them without authorization.
  </p>
  <p>
  6. The essence of the Internet is freedom and sharing. We sincerely hope that every positive positive energy can be freely transmitted on the Internet and can provide development momentum for every enterprise.
  </p>
</div>
