#game {
	background-color: #222222;
	margin-left:auto;
	margin-right:auto;
	width:93%;
}
#header{
	color: aliceblue;
	margin-left: 20px;
}
textarea{
	background-color: #222222;
	color: aliceblue;
}
.description{
	color: aliceblue;
	border: aliceblue;
	margin-left: auto;
	margin-right: auto;
}
#paragraph{
	padding: 20px;
	overflow: auto;
}
#gamedescription{
	width: 350px;
	border: none;
}
#commenttable{
	margin-left: 100px;
	margin-right: 100px;
	color: aliceblue;
}
#user{
	margin-left: 10px;
	margin-right: 10px;
}
#usercomment{
	padding: 0 10px 0 10px;
	border: 4px groove #a1afc9;
}
#addcomment{
	text-align: center;
} 
#profileimg{
	border-radius: 50%;
	border: 4px inset #a1afc9;
	margin-bottom: 10px;
}
#addcommenttxt{
	border: 2px ridge #a1afc9;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#comments{
	color:#FFF;
	background-color: black;
	margin: 20px auto;
}
