<br /><br /><br />
<div id="game">
  <div id="item">
    <div id="header"><br />
      <h2>Game name</h2>
    </div>
    <div id="video">
      <embed src="https://www.youtube.com/embed/mrDUcpMg9-w" height="400" width="650"/>
    </div>
    <div id="description">
      <img src="../../assets/images/pubg.jpeg" alt="image" width="250px" height="120px" />
      <p>
        PlayerUnknown's Battlegrounds (PUBG) is an online multiplayer battle royale game developed and published by PUBG Corporation, a subsidiary of South Korean video game company Bluehole. In the game, up to one hundred players parachute onto an island and scavenge for weapons and equipment to kill others while avoiding getting killed themselves. The available safe area of the game's map decreases in size over time, directing surviving players into tighter areas to force encounters. The last player or team standing wins the round.
      </p>
    </div>
    <div id="buy">
      <button class="btn btn-primary">Purchase</button>
    </div>
  </div>
  <br /><br /><br />
  
  <h1>Comments</h1>
  <div id="comments">
    <div class="cuser">
      <br />
      <b>Username</b>
    </div>
    <div class="content">
      <p>
      Great Game!
      </p>
    </div>
    <hr />
    <div class="cuser">
      <br />
      <b>Username</b>
    </div>
    <div class="content">
      <p>
      I love it!
      </p>
    </div>
    <hr />
  </div>
  <br /><br />

</div>
