textarea{
	background-color: #222222;
	color: aliceblue;
}
#game {
	background-color: #222222;
	margin-left:auto;
	margin-right:auto;
	width:93%;
}
#header{
	color: aliceblue;
	margin-left: 20px;
}
.description{
	color: aliceblue;
	border: aliceblue;
	margin-left: auto;
	margin-right: auto;
}
#gamedescription{
	padding: 20px;
	overflow: auto;
}
#gamedescription textarea{
	width: 350px;
	border: none;
}
#gamedescription h3{
	color:whitesmoke;
}
#commenttable{
	margin-left: 70px;
	margin-right: 70px;
	color: aliceblue;
}
#commenttable td{
	width:300px;
	height: 150px
}
#usercomment{
	padding: 0 10px 0 10px;
	border: 4px groove #a1afc9;
}
#addcomment{
	text-align: center;
} 
#addcomment img{
	border-radius: 50%;
	border: 4px inset #a1afc9;
	margin-bottom: 10px;
	width:50px;
	height:50px;
}
#addcomment h4{
	display:inline;
	padding:10px;
}
#addcomment textarea{
	border: 2px ridge #a1afc9;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#addcomment button{
	width:70%;
}
#cbk{
	background: url("../../assets/images/game.png") repeat center top;
	background-size: 15%;
	text-align: center;
	/* color: #; */
	border-radius: 20px;
	/* background-clip: padding-box;
	background-origin: border-box; */
	font-size: 30px;
	/* padding: 20px; */
}
/* table, tr,td{
	border: 2px solid white;
} */
/* #comments{
	color:#FFF;
	background-color: black;
	margin: 20px auto;
} */
/* #cartbtn :hover{
	background-color: #222222;
} */

