#game {
	background-color: #222222;
	margin-left:auto;
	margin-right:auto;
	width:93%;
}
#header{
	color: aliceblue;
	margin-left: 20px;
}
table{
	color: aliceblue;
	border: aliceblue;
	margin-left: auto;
	margin-right: auto;
}
#paragraph{
	padding: 20px;
	overflow: auto;
}
#commentarea{
	margin-left: 100px;
	margin-right: 120px;
}
#comment{
	background-color: #222222;
	color: aliceblue;
	margin-bottom: 10px; 
}
#user{
	float: left;
}
#usercomment{
	clear: both;
	margin-left: 20px;
	border: 4px groove #a1afc9;
}
textarea{
	background-color: #222222;
	color: aliceblue;
}
#addcomment{
	float: right;
	color: aliceblue;
}
#profileimg{
	border-radius: 50%;
	border: 4px inset #a1afc9;
	margin-bottom: 10px;
	/* display: inline-block; */
}
/* h1 {
	color:#FFF;
	text-align:left;
	
} */
#comments{
	color:#FFF;
	background-color: black;
	margin: 20px auto;
}
/* .cuser {
	text-align:left;
	margin-left:50px;
}
.content p {
	text-align:left;
	margin-left:50px;
}
#buy{
	float:right;
	margin-right:40px;
	margin-top:30px;
	margin-bottom:30px;
} */