h1{
    color: aliceblue;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 0;
}
.table{
    color: aliceblue;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* height: 100px; */
    /* width:500px; */
    /* border: 2px solid aliceblue; */
}
.mat-column-context {
    flex: 0 0 100px;
  }
#buttons{
    margin-left: 1000px;
}
#total{
    text-align: left;
}
#cardimg{
    padding-bottom: 30px;
}
#empty{
    text-align: left;
    border: none;
}
/* table,tr,td{
    border: 2px solid white;
} */