<form (ngSubmit) = "createUser()">
  <div class="form-group">
    <label for="userName">Email</label>
    <input class="form-control" type="text" name="userName" id="userName" [(ngModel)]="model.userName"/>
  </div>
  <div class="form-group">
    <label for="passWord">Password</label>
    <input class="form-control" type="passWord" name="passWord" id="passWord" [(ngModel)]="model.passWord"/>
  </div>
  <div>
    <button class="btn btn-primary" (click) = "createUser">Sign Up</button>
</div>
</form>
