<br>
<br>
<form (ngSubmit) = "createUser(SignUpSucc, SignUpFail)">
  <br><br><br><br><br>
  <div class="container">
      <h1>Welcome to Pandada!</h1>
      <br><br>
      <h4>- - Enjoy playing the games? You are already one of us!</h4>
      <br><br>
      <div class="form-group">
          <label for="userName">Email</label>
          <input class="form-control" type="text" name="userName" id="userName" [(ngModel)]="model.userName"/>
        </div><br>
        <div class="form-group">
          <label for="passWord">Password</label>
          <input class="form-control" type="passWord" name="passWord" id="passWord" [(ngModel)]="model.passWord"/>
        </div>
        <br><br><br>
        <div>
          <button class="btn btn-primary" >Sign Up</button>
      </div>
      <br><br><br>
  </div>
</form>

<ng-template #SignUpSucc let-c = "close">
    <div class = "modal-content">
      <div class = "modal-body">
        <h1>Congratulation!</h1>
        Sign Up Successfully!
      </div>
      <div class = "modal-footer">
        <button type = "button" (click) = "c()"> Yes </button>
      </div>
    </div>
  </ng-template>

<ng-template #SignUpFail let-c = "close">
    <div class = "modal-content">
      <div class = "modal-body">
        <h1>Oops!</h1>
        {{errorMessage}}
      </div>
      <div class = "modal-footer">
        <button type = "button" (click) = "c()"> Yes </button>
      </div>
    </div>
  </ng-template>