<br><br><br><br>
<div id="container">
    <div id="usertop">
    <div id="userprofile">
        <div id="profile">
        <img src="../../assets/images/lazypanda3.jpg" width="120px" height="120px"><br>
        <p>{{userName}}</p> 
        </div>

        <div id="list">
            <ul>
                <li>Has {{numofgame}} games in stock</li>
                <li>Has {{numoflike}} games in wish list</li>
                <!-- <li>Has 10 games  commented</li> -->
            </ul><br>
            <button class="btn btn-outline-primary" (click)="upt()">Update Password</button>
        </div>
    </div>
    </div>

    <!-- <button (click) = "gameProfile('qwe')">sdfdsf</button> -->

<div *ngIf="update">
    <div id="pwd" *ngIf="show" style="display: block;height: 200px;">
        <form (ngSubmit) = "updatepwd()">
              <div id="errorme"></div>
              <div class="form-group">
                <label for="passWord">Please enter your new password:</label>
                <input class="form-control" type="passWord" name="passWord" id="passWord" (keyup)="checkPwd()" [(ngModel)]="model.passWord"/>
              </div>
              <div>
                <button class="btn btn-primary">Login</button>&nbsp;
                <button class="btn" (click)="cancel()">Cancel</button>
            </div>
        </form>
      </div>
      
      <div id="succ" *ngIf="isSucc" style="display:block;height: 250px;">
        <h2>Password Update Successfully!</h2>
        <br>
        <button class="btn btn-primary" (click)="cls()">OK</button>
      </div>
</div>


<div id="boughtgame" style="padding-top:60px;">
    <div class = "subtitle" id="newtrend">
        <h1>Bought Games</h1>
    </div>

    <div class="row" id="boughtgames">
        <table >
            <tr id = "boughtTable">
            <td colspan="4" *ngIf="!hasgame" style="padding-left:80px;"><i>You haven't bought any game. Once you have bought one it will be shown here.</i></td>
            </tr>
        </table>
    </div>
</div>


<div class = "table-responsive container-fluid" id = "favouritegames" style="padding-top:60px;">
    <div class = "subtitle">
        <h1>Wish List</h1>
    </div>
    
    <table class="table" id = "favorate">
        <thead *ngIf="haslike">
          <tr>
            <th></th>
            <th>Game Name</th>
            <th>Company</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody id = "fItem">
           <tr>
               <td colspan="4" *ngIf="!haslike" style="padding-left:80px;"><i>You haven't added any game to the Wish List. Once you have added one it will be shown here.</i></td>
           </tr>
        </tbody>
    </table>
</div>
</div>
