.container{
    width: 90%;
}
#profile{
    margin-left: 400px;
    margin-right: 150px;
    color : #C0C0C0;
    float: left;
    /* border: 3px groove whitesmoke; */
}
#profileimg{
    /* float: left; */
    border-radius: 20px;
    border: 4px inset #a1afc9;
    margin-bottom: 20px;
}
#username{
    font-size: 50px;
    display:inline-block;
}
hr{
    clear: both;
    height: 2px;
    width: 70%;
    background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0),whitesmoke,rgba(255,255,255,0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0),whitesmoke,rgba(255,255,255,0));
}
#boughtgames, #favouritegames{
    width: 90%;
}
table{
    color : white;
}
.subtitle{
    color:white;
    height:80px;
    margin-left: 20px;   
 }
 #newtrend{
     margin-left: 110px;
 }
#pwd,#succ {
        display: none; 
        width: 400px; 
        height: 500px; 
        padding: 30px 40px; 
        background-color: #F3F5F6; 
        position: fixed; top: 100px;
        left: 500px;
 }
 ul{
     color: white;
     font-size: 20px;
 }
 .cardimg {
    height: 250px;
    width: 100%;
  }
.row{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 340px;
}
#card{
    padding: 15px;
    /* display: inline-block; */
}
