#profile{
    margin-left: 270px;
    margin-right: 150px;
    color : #C0C0C0;
}
#profileimg{
    /* float: left; */
    border-radius: 20px;
    border: 4px inset #a1afc9;
    margin-bottom: 20px;
}
#username{
    font-size: 80px;
    margin-left: 50px;
    margin-bottom: 0px;
    display:inline-block;
    /* margin-top: 20px;  */
}
hr{
    clear: both;
    height: 2px;
    width: 70%;
    background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0),whitesmoke,rgba(255,255,255,0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0),whitesmoke,rgba(255,255,255,0));
}
#boughtgames, #favouritegames{
    width: 97%;
}
table{
    color : white;
}
.subtitle{
    color:white;
    height:80px;
    
 }
 .subtitle h1{
    margin-left: 20px;
 }
#pwd,#succ {
        display: none; 
        width: 400px; 
        height: 500px; 
        padding: 30px 40px; 
        background-color: #F3F5F6; 
        position: fixed; top: 100px;
        left: 500px;
 }