<br><br><br>
<div id="profile">
  <img src="../../assets/images/lazypanda3.jpg" width="100px" height="100px" id="profileimg">
  <p id="username">{{userName}}</p> 
</div><br>

<div>
    <hr>
</div>

<div class = "table-responsive container-fluid" id = "boughtgames" style="padding-top:25px;">
    <div class = "subtitle" id="newtrend" >
        <h1>Bought Games</h1>
    </div>
    
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Game Name</th>
            <th>Company</th>
            <th>Price</th>
            <!-- <th>Detaile</th> -->
            <!-- <th>head 6</th> -->
          </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/thesims4.jpg" alt="Table image" width="200px" height="110px" (mouseenter)="showPic1('any pic')" (mouseleave)="showPic1('any pic')"></td>
                <td>The Sims 4</td>
                <td>EA</td>
                <td>$49.99</td>
                <!-- <td rowspan="4" id = "1" width="200px">
                  <p>Enjoy the power to create and control people in a virtual world where there are no rules.Express your creativity as you customize your Sims’ appearances and personalities, and build them the perfect homes. Develop your Sims’ relationships, pursue careers, and explore vibrant new worlds.</p>
                  <img src="../../assets/images/thesims4.png" height="200px" width="350px"></td> -->
            </tr>
            <tr>
              <td></td>
              <td width = "200px"><img src="../../assets/images/monster.jpg" alt="Table image" width="200px" height="110px"></td>
              <td>Monster Hunter</td>
              <td>Capcom</td>
              <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/godofwar.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>God of War</td>
                <td>Santa Monica Studio</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/residentevil2.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>Resident Evil 2</td>
                <td>Capcom</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/devilmaycry5.png" alt="Table image" width="200px" height="110px"></td>
                <td>Devil May Cry 5</td>
                <td>Capcom</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/dota2.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>Dota2</td>
                <td>Valve Corporation</td>
                <td>$49.99</td>
            </tr>
        </tbody>
    </table>
</div>

<div class = "table-responsive container-fluid" id = "favouritegames" style="padding-top:25px;">
    <div class = "subtitle" id="newtrend" >
        <h1>Wish List</h1>
    </div>
    
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Game Name</th>
            <th>Company</th>
            <th>Price</th>
            <!-- <th>Detaile</th> -->
            <!-- <th>head 6</th> -->
          </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/thesims4.jpg" alt="Table image" width="200px" height="110px" (mouseenter)="showPic1('any pic')" (mouseleave)="showPic1('any pic')"></td>
                <td>The Sims 4</td>
                <td>EA</td>
                <td>$49.99</td>
                <!-- <td rowspan="4" id = "1" width="200px">
                  <p>Enjoy the power to create and control people in a virtual world where there are no rules.Express your creativity as you customize your Sims’ appearances and personalities, and build them the perfect homes. Develop your Sims’ relationships, pursue careers, and explore vibrant new worlds.</p>
                  <img src="../../assets/images/thesims4.png" height="200px" width="350px"></td> -->
            </tr>
            <tr>
              <td></td>
              <td width = "200px"><img src="../../assets/images/monster.jpg" alt="Table image" width="200px" height="110px"></td>
              <td>Monster Hunter</td>
              <td>Capcom</td>
              <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/godofwar.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>God of War</td>
                <td>Santa Monica Studio</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/residentevil2.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>Resident Evil 2</td>
                <td>Capcom</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/devilmaycry5.png" alt="Table image" width="200px" height="110px"></td>
                <td>Devil May Cry 5</td>
                <td>Capcom</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/dota2.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>Dota2</td>
                <td>Valve Corporation</td>
                <td>$49.99</td>
            </tr>
        </tbody>
    </table>
</div>

