<br><br><br><br>
<div id="container">
    <div id="usertop">
    <div id="userprofile">
        <div id="profile">
        <img src="../../assets/images/lazypanda3.jpg" width="120px" height="120px"><br>
        <p>{{userName}}</p> 
        </div>

        <div id="list">
            <ul>
                <li>Has 10 games in stock</li>
                <li>Has 10 games in wish list</li>
                <li>Has 10 games  commented</li>
            </ul>
            <button class="btn btn-outline-primary" (click)="upt()">Update Password</button>
        </div>
    </div>
    </div>

<div *ngIf="update">
    <div id="pwd" *ngIf="show" style="display: block;height: 200px;">
        <form (ngSubmit) = "updatepwd()">
              <div id="errorme"></div>
              <div class="form-group">
                <label for="passWord">Please enter your new password:</label>
                <input class="form-control" type="passWord" name="passWord" id="passWord" (keyup)="checkPwd()" [(ngModel)]="model.passWord"/>
              </div>
              <div>
                <button class="btn btn-primary">Login</button>&nbsp;
                <button class="btn" (click)="cancel()">Cancel</button>
            </div>
        </form>
      </div>
      
      <div id="succ" *ngIf="isSucc" style="display:block;height: 250px;">
        <h2>Password Update Successfully!</h2>
        <br>
        <button class="btn btn-primary" (click)="cls()">OK</button>
      </div>
</div>

<!-- <div>
    <hr>
</div> -->

<div id="boughtgame" style="padding-top:60px;">
    <div class = "subtitle" id="newtrend">
        <h1>Bought Games</h1>
    </div>

    <div class="row" id="boughtgames">
        <table>
            <tr>
                <td>
                    <div id="card">
                        <img src="../../assets/images/pubg.jpeg" alt="cardimg">
                        <p>PlayerUnknown's Battleground</p>
                    </div>
                </td>
                <td>
                    <div id="card">
                        <img src="../../assets/images/dontstarve.png" alt="cardimg">
                        <p>Don't Starve Together</p>
                    </div>
                </td>
                <td>
                    <div id="card">
                        <img src="../../assets/images/chinesep.jpeg" alt="cardimg">
                        <p>Chinese Parents</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


<div class = "table-responsive container-fluid" id = "favouritegames" style="padding-top:60px;">
    <div class = "subtitle">
        <h1>Wish List</h1>
    </div>
    
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Game Name</th>
            <th>Company</th>
            <th>Price</th>
            <!-- <th>Detaile</th> -->
            <!-- <th>head 6</th> -->
          </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/thesims4.jpg" alt="Table image" width="200px" height="110px" (mouseenter)="showPic1('any pic')" (mouseleave)="showPic1('any pic')"></td>
                <td>The Sims 4</td>
                <td>EA</td>
                <td>$49.99</td>
                <!-- <td rowspan="4" id = "1" width="200px">
                  <p>Enjoy the power to create and control people in a virtual world where there are no rules.Express your creativity as you customize your Sims’ appearances and personalities, and build them the perfect homes. Develop your Sims’ relationships, pursue careers, and explore vibrant new worlds.</p>
                  <img src="../../assets/images/thesims4.png" height="200px" width="350px"></td> -->
            </tr>
            <tr>
              <td></td>
              <td width = "200px"><img src="../../assets/images/monster.jpg" alt="Table image" width="200px" height="110px"></td>
              <td>Monster Hunter</td>
              <td>Capcom</td>
              <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/godofwar.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>God of War</td>
                <td>Santa Monica Studio</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/residentevil2.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>Resident Evil 2</td>
                <td>Capcom</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/devilmaycry5.png" alt="Table image" width="200px" height="110px"></td>
                <td>Devil May Cry 5</td>
                <td>Capcom</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td></td>
                <td width = "200px"><img src="../../assets/images/dota2.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>Dota2</td>
                <td>Valve Corporation</td>
                <td>$49.99</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
