
  <div class = "bk">
      
    <div class="mycontainer" data-spy = "scroll" data-target = ".navbar" data-offset = "50" >
      <ngb-carousel #carousel>
          <ng-template ngbSlide>
            <img class="w-100" src="../../assets/images/fifa.jpg" alt="Random first slide">
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="w-100" src="../../assets/images/Assassin's creed.jpg"  alt="Random second slide">
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="w-100" src="../../assets/images/reddead.jpg" alt="Random third slide">
            <div class="carousel-caption">
            </div>
          </ng-template>
        </ngb-carousel>
      <div id="bestsell" class="container-fluid" style="padding-top:25px;">
        <div class = "subtitle">
          <h1>BEST SELLER</h1>
        </div>

        <div class="row" style="padding-bottom: 20px; padding-left: 20px; padding-right:25px">
          <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
            <div class="card" style = "background-color:#2c2b2b; color:white">
              <img class="card-img-top cardimg" src="../../assets/images/overcook.jpg" alt="Card image" >
                <div class="card-body">
                  <h4 class="card-title">Overcooked2</h4>
                    <div style = "height: 150px; overflow: auto;" >
                      <p class="card-text">
                            Overcooked returns with a brand-new helping of chaotic cooking action! Journey back to the Onion Kingdom 
                            and assemble your team of chefs in classic couch co-op or online play for up to four players. Hold onto 
                            your aprons… it’s time to save the world again!
                      </p>
                    </div>
                    <br>
                    <a href="#" class="btn btn-primary" data-toggle="tooltip" title="Come to join us!">See Profile</a>
                    <div class="tooltip bs-tooltip-top" role="tooltip">
                      <div class="arrow"></div>
                        <div class="tooltip-inner">
                          Come to join us!
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12" >
                <div class="card" style = "background-color:#2c2b2b; color:white">
                  <img class="card-img-top cardimg" src="../../assets/images/pubg.jpeg" alt="Card image" >
                    <div class="card-body">
                    <h4 class="card-title">PUBG</h4>
                    <div style = "height: 150px; overflow: auto">
                            <p class="card-text">
                                PlayerUnknown's Battlegrounds (PUBG) is an online multiplayer battle royale game developed and published 
                                by PUBG Corporation, a subsidiary of South Korean video game company Bluehole. In the game, up to one hundred 
                                players parachute onto an island and scavenge for weapons and equipment to kill others while avoiding getting 
                                killed themselves. The available safe area of the game's map decreases in size over time, directing surviving 
                                players into tighter areas to force encounters. The last player or team standing wins the round.
                            </p>
                        </div>
                        <br>
                    <a href="#" class="btn btn-primary" data-toggle="tooltip" title="Come to join us!">See Profile</a>
                    <div class="tooltip bs-tooltip-top" role="tooltip">
                      <div class="arrow"></div>
                        <div class="tooltip-inner">
                          Come to join us!
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 " >
                  <div class="card" style = "background-color:#2c2b2b; color:white">
                    <img class="card-img-top cardimg" src="../../assets/images/dontstarve.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title" style = "height : 30px;overflow: hidden;">Don't Starve Together</h4>
                    <div style = "height: 150px; overflow: auto">
                            <p class="card-text">
                                Don't Starve is an open world survival video game developed by the Canadian 
                                indie company Klei Entertainment.The game follows a scientist named Wilson who 
                                finds himself in a dark, dreary world and must survive as long as possible. 
                                To this end, the player must keep Wilson healthy, fed, and mentally stable as 
                                he avoids a variety of surreal and supernatural enemies that will try to 
                                kill and devour him. The game's Adventure mode adds depth to the sparse plot 
                                and pits Wilson against the game's antagonist, Maxwell.
                            </p>
                        </div>
                        <br>
                    <a href="#" class="btn btn-primary" data-toggle="tooltip" title="Come to join us!">See Profile</a>
                    <div class="tooltip bs-tooltip-top" role="tooltip">
                      <div class="arrow"></div>
                        <div class="tooltip-inner">
                          Come to join us!
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="card" style = "background-color:#2c2b2b; color:white">
                    <img class="card-img-top cardimg" src="../../assets/images/chinesep.jpeg" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title" style = "height : 30px;overflow: hidden;">Chinese Parents</h4>
                    <div style = "height: 150px; overflow: auto">
                            <p class="card-text">
                                    "Chinese Parents" is a simulation game developed by the squid play studio and released
                                     by Coconut Island. The player plays a child born in an ordinary Chinese family in the game.
                            </p>
                        </div>
                        <br>
                    <a href="#" class="btn btn-primary" data-toggle="tooltip" title="Come to join us!">See Profile</a>
                    <div class="tooltip bs-tooltip-top" role="tooltip">
                      <div class="arrow"></div>
                        <div class="tooltip-inner">
                          Come to join us!
                        </div>
                      </div>
                    </div>

                  </div>
              </div>
            </div>
    </div>
    <br>
    <div class = "table-responsive container-fluid" id = "gametable" style="padding-top:25px;">
        <div class = "subtitle" id="newtrend" >
            <h1>NEW & TRENDING</h1>
        </div>
        
        <table class="table" id="table1" *ngIf="showTable1">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Game Name</th>
                <th>Company</th>
                <th>Price</th>
                <th>Detaile</th>
                <!-- <th>head 6</th> -->
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td width = "200px"><img src="../../assets/images/thesims4.jpg" alt="Table image" width="200px" height="110px" (click)="toGame()" (mouseenter)="showPic1('any pic')" (mouseleave)="showPic1('any pic')"></td>
                    <td (mouseenter)="showPic1('any pic')" (mouseleave)="showPic1('any pic')" width = "290px">The Sims 4</td>
                    <td (mouseenter)="showPic1('any pic')" (mouseleave)="showPic1('any pic')">EA</td>
                    <td (mouseenter)="showPic1('any pic')" (mouseleave)="showPic1('any pic')">$49.99</td>
                    <td rowspan="4" id = "1" width="200px">
                      <p>Human: Fall Flat is a quirky open-ended physics-based puzzle platformer set in floating dreamscapes. Your goal is to find the exit of these surreal levels by solving puzzles with nothing but your wits. Local co-op for 2 players and up to 8 online for even more mayhem!</p>
                      <img src="../../assets/images/thesims4.png" height="200px" width="350px"></td>
                
                </tr>
                <tr (mouseenter)="showPic2('any pic')" (mouseleave)="showPic2('any pic')">
                  <td></td>
                  <td width = "200px"><img src="../../assets/images/monster.jpg" alt="Table image" width="200px" height="110px"></td>
                  <td>Monster Hunter</td>
                  <td>Capcom</td>
                  <td>$49.99</td>
                </tr>
                <tr (mouseenter)="showPic3('any pic')" (mouseleave)="showPic3('any pic')">
                    <td></td>
                    <td width = "200px"><img src="../../assets/images/godofwar.jpg" alt="Table image" width="200px" height="110px"></td>
                    <td>God of War</td>
                    <td>Santa Monica Studio</td>
                    <td>$49.99</td>
                </tr>
                <tr (mouseenter)="showPic4('any pic')" (mouseleave)="showPic4('any pic')">
                    <td></td>
                    <td width = "200px"><img src="../../assets/images/residentevil2.jpg" alt="Table image" width="200px" height="110px"></td>
                    <td>Resident Evil 2</td>
                    <td>Capcom</td>
                    <td>$49.99</td>
                </tr>
                <tr (mouseenter)="showPic5('any pic')" (mouseleave)="showPic5('any pic')">
                    <td></td>
                    <td width = "200px"><img src="../../assets/images/devilmaycry5.png" alt="Table image" width="200px" height="110px"></td>
                    <td>Devil May Cry 5</td>
                    <td>Capcom</td>
                    <td>$49.99</td>
                </tr>
                <tr (mouseenter)="showPic6('any pic')" (mouseleave)="showPic6('any pic')">
                    <td></td>
                    <td width = "200px"><img src="../../assets/images/dota2.jpg" alt="Table image" width="200px" height="110px"></td>
                    <td>Dota2</td>
                    <td>Valve Corporation</td>
                    <td>$49.99</td>
                </tr>
            </tbody>
        </table>

        <table class="table" id="table2" *ngIf="!showTable1">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Game Name</th>
              <th>Company</th>
              <th>Price</th>
              <th>Detail</th>
              <!-- <th>head 6</th> -->
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td></td>
                  <td width = "200px"><img src="../../assets/images/humanfallflat.jpg" alt="Table image" width="200px" height="110px" (mouseenter)="showPic21('any pic')" (mouseleave)="showPic21('any pic')"></td>
                  <td (mouseenter)="showPic21('any pic')" (mouseleave)="showPic21('any pic')" width = "290px">Human Fall Flat</td>
                  <td (mouseenter)="showPic21('any pic')" (mouseleave)="showPic21('any pic')">Curve Digital</td>
                  <td (mouseenter)="showPic21('any pic')" (mouseleave)="showPic21('any pic')">$7.15</td>
                  <td rowspan="4" id = "1" width="200px">
                    <p>Human: Fall Flat is a quirky open-ended physics-based puzzle platformer set in floating dreamscapes. Your goal is to find the exit of these surreal levels by solving puzzles with nothing but your wits. Local co-op for 2 players and up to 8 online for even more mayhem!</p>
                    <img src="../../assets/images/humanfallflat2.jpg" height="200px" width="350px"></td>
              
              </tr>
              <tr (mouseenter)="showPic22('any pic')" (mouseleave)="showPic22('any pic')">
                <td></td>
                <td width = "200px"><img src="../../assets/images/minecraft.jpg" alt="Table image" width="200px" height="110px"></td>
                <td>Minecraft: Story Mode</td>
                <td>Telltale Games</td>
                <td>$7.45</td>
              </tr>
              <tr (mouseenter)="showPic23('any pic')" (mouseleave)="showPic23('any pic')">
                  <td></td>
                  <td width = "200px"><img src="../../assets/images/gujian3.jpg" alt="Table image" width="200px" height="110px"></td>
                  <td>Gujian3</td>
                  <td>Aurogon Info&Tech</td>
                  <td>$14.75</td>
              </tr>
              <tr (mouseenter)="showPic24('any pic')" (mouseleave)="showPic24('any pic')">
                  <td></td>
                  <td width = "200px"><img src="../../assets/images/theelderscrolls.jpg" alt="Table image" width="200px" height="110px"></td>
                  <td>The Elder Scrolls V</td>
                  <td>Bethesda Softworks</td>
                  <td>$19.25</td>
              </tr>
              <tr (mouseenter)="showPic25('any pic')" (mouseleave)="showPic25('any pic')">
                  <td></td>
                  <td width = "200px"><img src="../../assets/images/bindingsaac.jpg" alt="Table image" width="200px" height="110px"></td>
                  <td>The Binding of Isaac: Afterbirth</td>
                  <td>Nicalis</td>
                  <td>$6</td>
              </tr>
              <tr (mouseenter)="showPic26('any pic')" (mouseleave)="showPic26('any pic')">
                  <td></td>
                  <td width = "200px"><img src="../../assets/images/nba2k19.jpg" alt="Table image" width="200px" height="110px"></td>
                  <td>NBA 2K19</td>
                  <td>2K Sports</td>
                  <td>$59.99</td>
              </tr>
          </tbody>
      </table>
    </div>
    <div style="margin:auto;width:180px;">
    <nav>
      <ul class="pagination" >
        <li class="page-item"  >
          <button class="page-link pagenav" aria-label="Previous" (click)="toggleTable()">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>
        <li class="page-item"><button class="page-link pagenav" (click)="toTable1()">1</button></li>
        <li class="page-item"><button class="page-link pagenav" (click)="toTable2()">2</button></li>
        <!-- <li class="page-item"><a class="page-link pagenav" href="">3</a></li> -->
        <li class="page-item">
          <button class="page-link pagenav" aria-label="Next" (click)="toggleTable()">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
    </div>
  </div>
  </div>

