body {
    background-color: #222222;
}
.mycontainer {
    margin-left: auto;	   
    margin-right: auto;	
    width : 97%;
    background-color: black ;
    box-shadow: 3px 3px 3px #312e2e2a;
}
footer {
    text-align: center;
    background-color: #222222;
    padding: 15px;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    
}
.cardimg {
    height: 250px;
    width: 100%;
  }
h1{
    color:whitesmoke;
    margin-top: 60px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* text-shadow: 1px 1px 1px #BBB; */
}
footer a {
    color: #999;
}
footer a:hover{
    color:#fff;
}
footer p {
    text-align: center;
	color:#fff;
}
 table {
     color : white;
 }

 .pagenav{
    background-color: black; 
    border:none;
    color:white;

 }
 .pagenav:hover {
     background-color : black;
 }

 .subtitle {
    color:white;
    /* background-image :linear-gradient(to left, black, #CCC); */
    height:80px;
    
 }
 .subtitle h1 {
     /* color : #666; */
    /* font-family: "Tranbuchet MS", Helvetica, sans-serif; */
    margin-left: 20px;
 }
.table tr:hover {
    background-color: rgb(27, 27, 27);
}
.card a {
    background-color : #E10914;
    border-color: #E10914;
}
.card a:hover {
    background-color : rgb(231, 46, 56);
    border-color: rgb(231, 46, 56);
}
.carousel-item img{
    width: auto;
    /* height:820px; */
    max-height: 820px;
    overflow: hidden;
}
#carousel-example{
    margin-top: 40px;
}

#login {
    border-radius: 50%;
}


@media screen and (max-width: 1000px) {
    #search{
        display: none;
    }
}